nav.navbar.navbar-expand-lg.fixed-top(ref='mainNav')
    .container
        a.navbar-brand(v-bind:href='title_url') {{ title }}
        button.btn.navbar-toggler(
            type='button' 
            data-bs-toggle='collapse' 
            v-bind:data-bs-target='"#" + navigationBarId' 
            aria-controls='navbarResponsive' 
            aria-expanded='false' 
            aria-label='Toggle navigation'
        )
            | Menu
            i.fas.fa-bars
        .collapse.navbar-collapse(v-bind:id='navigationBarId')
            ul.navbar-nav
                dynamic-component(
                    v-for='linkSection in link_sections' v-bind:key='linkSection.data.content'
                    v-bind:component_infos='linkSection'
                )
