nav.navbar.navbar-expand-lg.fixed-top(ref='mainNav')
    .container-fluid
        a.navbar-brand(v-if='title' v-bind:href='title_url') {{ title }}
        dynamic-component(
            v-bind:component_infos='brand_section'
        )
        button.btn.navbar-toggler(
            type='button' 
            name='collapse button'
            data-toggle='collapse' 
            v-bind:data-target='"#" + navigationBarId' 
            aria-controls='navbarResponsive' 
            aria-expanded='false' 
            aria-label='Menu'
        )
            p.menu-title Menu
            i.menu-icon.fas.fa-bars
        .collapse.navbar-collapse(v-bind:id='navigationBarId')
            ul.navbar-nav.ms-auto.py-4.py-lg-0
                dynamic-component(
                    v-for='linkSection in link_sections' 
                    v-bind:key='linkSection.data.content'
                    v-bind:component_infos='linkSection'
                )
