div(
    v-on-clickaway="hideDropdown"
    @keyup.esc="onEscape"
    @keydown.up.prevent="typeAheadUp"
    @keydown.down.prevent="typeAheadDown"
    @keydown.enter.prevent="typeAheadSelect"
    class="v-select"
    :class="{'disabled': disabled, addClass}"
    )
    button(@click="toggle" type="button" class="v-select-toggle")
        div(v-html="title")
        div(class="arrow-down")
    div(v-show="show" class="v-dropdown-container")
        div(v-show="searchable" class="v-bs-searchbox")
            input(
                :placeholder="searchPlaceholder"
                class="form-control"
                type="text"
                v-model="searchValue"
            )
        ul
            li(
                v-show="searchable && filteredOptions.length === 0"
                class="v-dropdown-item"
            ) {{ searchNotFound }} "{{ searchValue }}"
            li(
                v-if="showDefaultOption"
                class="v-dropdown-item disabled default-option"
            ) {{ defaultTitle }}
            li(
                v-for="(option, index) in filteredOptions"
                :key="`v-select-${index}`"
                class="v-dropdown-item"
                :class="{'selected' : isSelectedOption(option, index), 'disabled': option[disabledProp]}"
                @click="onSelect(option, index)"
            )
                span(v-html="getOptionLabel(option)")
